.landing {
  ::selection {
    color: #1e2332;
    background: rgba(255, 240, 55, 0.8); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    color: #1e2332;
    background: rgba(255, 240, 55, 0.8); /* Gecko Browsers */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  .title,
  .subtitle {
    color: #241f48;
  }
  .title {
    line-height: 0.95;
  }
  .subtitle {
    line-height: 1.2;
  }

  a {
    color: #4001e4;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    letter-spacing: -0.04em;
    z-index: 10;
  }

  h2 {
    font-size: 80px;
    font-weight: 900;
    max-width: 775px;
    margin: 0 auto;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
  }

  h4 {
    font-size: 30px;
    font-weight: 700;
  }

  .landing-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .landing-steps {
    margin-top: 0;
  }

  .landing-steps-counter {
    margin-top: 60px;
    color: #828da7;
  }

  .landing-logo-typo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
  }

  .landing-header-link {
    font-weight: 600;
    margin-top: 3px;
    cursor: pointer;
  }

  .landing-header-link-active {
    border-bottom: 3px solid #65f3ff;
  }

  .landing-header-link-button {
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
    padding-left: 10px;
    border-left: 1px solid #e2e2ea;
  }

  #landing-header-arrow {
    margin-left: 5px;
    width: 12px;
    height: auto;
    transition: all 0.15s ease-out;
  }

  .landing-header-link-button:hover {
    color: #264dd9;
  }

  .landing-header-link-button span {
    transition: all 0.15s ease-in;
  }

  .landing-header-link-button:hover span {
    transform: translateX(-2px);
    transition: all 0.15s ease-in;
  }

  .landing-header-link-button:hover #landing-header-arrow {
    transform: translateX(2px);
    transition: all 0.15s ease-in;
  }

  .landing-header-link-button:active {
    transform: scale(0.96);
  }

  .landing-paragraph {
    font-size: 20px;
    max-width: 90%;
    padding-bottom: 60px;
    margin: 0 auto;
  }

  .wrapper-landing {
    background-color: white;
  }

  .title {
    font-size: 160px;
    font-weight: 900;
  }

  .subtitle {
    font-size: 40px;
    max-width: 800px;
    margin: 0 auto 30px;
    line-height: 1.2;
  }

  .subtitle-communities {
    font-size: 30px;
    margin-bottom: 30px;
    max-width: 800px;
    line-height: 1.2;
  }

  .section {
    border-bottom: 1px solid #eeeeff;
    margin-top: 45px;
    margin-bottom: 90px;
  }

  .landing-hero {
    padding-top: 150px;
    margin-top: -80px;
  }

  #landing-hero-background {
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    border-bottom-left-radius: 20rem;
    background: url('../img/landing/bgabout.png'),
      linear-gradient(to bottom, rgba(248, 247, 254, 1) 0%, rgba(232, 231, 247, 1) 50%, rgba(250, 250, 255, 1) 100%);
    background-position: center bottom;
    background-size: cover;
  }

  #landing-hero-background-main {
    position: absolute;
    left: 0;
    top: 0;
    height: 90vh;
    border-bottom-right-radius: 20rem;
    background: url('../img/landing/bgowner.png'),
      linear-gradient(to bottom, rgba(248, 247, 254, 1) 0%, rgba(232, 231, 247, 1) 50%, rgba(250, 250, 255, 1) 100%);
    background-position: center bottom;
    background-size: cover;
  }

  .landing-hero-owner {
    background-image: none;
    padding-top: 150px;
  }

  .landing-hero-communities {
    padding-top: 25vh;
    padding-bottom: 0;
    height: 90vh;
  }

  .landing-video {
    display: flex;
    position: relative;
    width: 90%;
    margin-right: 10%;
    border-radius: 12px;
    background-size: cover;
    height: 320px;
    background-image: url('../img/landing/videoBg.webp');
    justify-content: center;
    align-items: center;
    box-shadow: 0 3rem 10rem -4rem rgba(54, 0, 228, 0.5);
  }

  .landing-video-overlay {
    height: 320px;
    border-radius: 12px;
    position: absolute;
    width: 100%;
    content: '';
    display: block;
    background-color: white;
    opacity: 0;
    z-index: 1;
    transition: all 0.2s ease-out;
  }

  .landing-player {
    width: 118px;
    height: 118px;
    background-color: #4000e4;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
    box-shadow: 0 3rem 5rem -2rem rgba(54, 0, 228, 0.6);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
    z-index: 2;
  }

  .landing-player:hover {
    background-color: #3900cc;
    transform: translateY(-2px);
    box-shadow: 0 3rem 5rem -2rem rgba(54, 0, 228, 0.8);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-player:active {
    transform: scale(0.96);
    box-shadow: 0 2rem 3rem -1rem rgba(54, 0, 228, 0.5);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-player:hover + .landing-video-overlay {
    opacity: 0.5;
    transition: all 0.2s ease-in;
  }

  .landing-link {
    color: #4000e4;
    display: inline-block;
    overflow: hidden;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2;
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-link::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 3px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #65f3ff;
    pointer-events: none;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -ms-transform: scaleY(0.3) scaleX(1);
    transform: scaleY(0.3) scaleX(1);
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }
  .landing-link-inside {
    display: inline-block;
  }
  .landing-link:hover .landing-link-inside {
    color: #4000e4;
    transform: translateY(2px);
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-link:hover:before {
    left: 100%;
    -ms-transform: scaleY(0.3) scaleX(0);
    transform: scaleY(0.3) scaleX(0);
    transition: left 0.4s cubic-bezier(0.5, 0, 0.1, 1), transform 0s linear 0.4s;
  }

  .landing-link:active {
    transform: scale(0.96);
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-section-introduction {
    margin-bottom: 90px;
  }

  .landing-owners-introduction {
    padding-top: 2em;
    padding-bottom: 2em;
    background: radial-gradient(ellipse at center, rgba(230, 251, 251, 1) 0%, rgba(255, 255, 255, 1) 80%);
  }

  .landing-feature {
    border-radius: 20px;
    height: 470px;
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a.landing-button.button-inside-input.disabled {
    background-color: #848da5;
    transition: all 0.15s ease;
    cursor: not-allowed;
  }

  a.landing-button.button-inside-input.disabled:hover {
    transform: none;
    box-shadow: none;
  }

  .landing-ending {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hopinside {
    background-image: url('../img/landing/hopinside-bg.png');
  }

  #usershere {
    background-image: url('../img/landing/usershere-bg.webp');
  }

  #threads-fourth {
    background-image: url('../img/landing/threads-4.png');
    background-position: 50%;
    background-size: cover;
  }

  #startearning {
    background-image: url('../img/landing/startearning-bg.png');
  }

  .landing-button {
    display: inline-block;
    padding: 0.6em 1.1em 0.5em 1.1em;
    border-radius: 12px;
    background-color: #4000e4;
    color: white;
    font-weight: 600;
    font-size: 24px;
    box-shadow: 0 1.5rem 3rem -0.8rem rgba(132, 128, 173, 0.4);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  #landing-button-big {
    min-width: 240px;
    font-size: 30px;
  }

  .landing-button-secondary {
    display: inline-block;
    padding: 0.6em 1.1em 0.5em 1.1em;
    border-radius: 12px;
    background-color: white;
    color: #4000e4;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    box-shadow: 0 1.5rem 3rem -0.8rem rgba(132, 128, 173, 0.3);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-button-secondary:hover {
    transform: translateY(-1px);
    color: #4000e4;
    box-shadow: 0 1.5rem 3.5rem -0.8rem rgba(132, 128, 173, 0.4);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-button-secondary:active {
    transform: scale(0.96);
    box-shadow: 0 2rem 3rem -0.8rem rgba(132, 128, 173, 0.5);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-button:hover {
    transform: translateY(-1px);
    color: white;
    box-shadow: 0 1.5rem 3.5rem -0.8rem rgba(132, 128, 173, 0.5);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-button:active {
    transform: scale(0.96);
    box-shadow: 0 2rem 3rem -0.8rem rgba(132, 128, 173, 0.6);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-feature img {
    margin: 60px auto 0;
  }

  .pink {
    background: linear-gradient(
      to bottom,
      rgba(248, 247, 254, 1) 0%,
      rgba(232, 231, 247, 1) 50%,
      rgba(250, 250, 255, 1) 100%
    );
  }

  .blue {
    background: linear-gradient(
      to bottom,
      rgba(243, 253, 253, 1) 0%,
      rgba(230, 251, 251, 1) 50%,
      rgba(246, 255, 255, 1) 100%
    );
  }

  .yellow {
    background: linear-gradient(
      to bottom,
      rgba(255, 249, 240, 1) 0%,
      rgba(249, 240, 226, 1) 50%,
      rgba(253, 248, 239, 1) 100%
    );
  }

  .landing-testimonial {
    margin-top: 30px;
    margin-bottom: 90px;
  }

  .landing-testimonial-paragraph {
    font-style: italic;
    margin: 0 auto;
    max-width: 620px;
    font-size: 20px;
  }

  .landing-testimonial p.author {
    font-style: normal;
    color: #848da5;
  }

  .landing-testimonial p.author a {
    font-style: normal;
    color: #848da5;
  }

  .landing-testimonial-profile {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto 20px;
    background-image: url('../img/landing/addressProfile.svg');
    background-size: cover;
    box-shadow: 0 1rem 2rem -0.6rem rgba(75, 90, 103, 0.4);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-testimonial-profile:hover {
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 0 1rem 2rem -0.6rem rgba(75, 90, 103, 0.55);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  #falafel {
    background-image: url('../img/landing/falafel.svg');
  }

  #cryptocow {
    background-image: url('../img/landing/cryptocow-testimonials.png');
  }

  #addressICO {
    background-image: url('../img/landing/addressICO.svg');
  }

  #ethmoji {
    background-image: url('../img/landing/ethmoji.png');
  }

  #barbossa {
    background-image: url('../img/landing/barbossa.png');
  }

  #landing-messageTo:before {
    content: '→';
    position: absolute;
    margin-left: 76px;
    margin-top: 24px;
  }

  #cryptovoxel {
    background-image: url('../img/landing/cryptovoxel.png');
    border: 1px solid #e6e6e6;
  }

  #furlin {
    background-image: url('../img/landing/furlin.png');
  }

  #bot {
    background-image: url('../img/landing/bot.png');
  }

  .landing-footer {
    background-color: #f9fafe;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  a.landing-footer-intouch {
    margin-top: 20px;
    background-color: white;
    display: inline-block;
    position: relative;
    box-shadow: 0 1rem 2.5rem -0.6rem rgba(75, 90, 103, 0.15);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
    padding: 0.75em 1.2em;
    border-radius: 6px;
    margin-right: 20px;
  }

  .landing-footer-intouch img {
    height: 20px;
    width: auto;
    margin-right: 0.75em;
    margin-bottom: -3px;
  }

  a.landing-footer-intouch:last-child {
    margin-right: 0px;
  }

  a.landing-footer-intouch:hover {
    background-color: white;
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 0 1rem 2.8rem -0.6rem rgba(75, 90, 103, 0.3);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-footer-intouch span {
    font-size: 16px;
    font-weight: 600;
  }

  .landing-footer p {
    max-width: 330px;
    margin: 0 auto;
  }

  .landing-footer-navigation {
    margin-top: 15px;
  }

  .landing-footer-navigation a {
    font-size: 20px;
    color: #848da5;
    margin-left: 40px;
  }

  .landing-footer-social {
    margin-top: 15px;
  }

  .landing-footer-social a {
    margin-left: 20px;
    opacity: 0.5;
    transition: all 0.2s ease-out;
  }

  .landing-footer-social a:hover {
    opacity: 1;
    transition: all 0.2s ease-in;
  }

  .landing-footer-social a:first-child {
    margin-left: 0px;
  }

  .landing-footer-navigation a:first-child {
    margin-left: 0px;
  }

  .landing-footer-navigation a:last-child {
    color: #4000e4;
  }
  .landing-goup {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #arrowup {
    margin-bottom: 10px;
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-goup:hover #arrowup {
    transform: translateY(-5px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  #landing-yourtoken {
    width: 347px;
    height: auto;
    margin-left: 60px;
    margin-top: 130px;
  }

  .landing-modal-bg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: black;
  }

  .landing-modal-content {
    background: none;
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: auto;
    max-height: calc(100vh - 100px);
    overflow: hidden;
  }

  .landing-modal-content-video {
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  .landing-modal-content-close {
    position: fixed;
    width: 64px;
    height: 64px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border-radius: 32px;
    border: none;
    outline: none;
  }

  .landing-modal-content-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .control {
    max-width: 560px;
    min-width: 520px;
  }

  .input.is-large {
    font-family: 'AvenirNext';
    padding-bottom: calc(0.375em - 10px);
    border: 1px solid #e4e6ea;
    height: 4em;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    box-shadow: 0 1.2rem 3rem -0.8rem rgba(132, 128, 173, 0.4);
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .button-inside-input {
    position: absolute;
    padding: 0.9em 1.3em 0.8em 1.3em;
    right: 6px;
    font-size: 1rem;
    border-radius: 6px;
    box-shadow: none;
    top: 6px;
    cursor: pointer;
    transition: all 0.15s ease;
  }

  .button-inside-input:active {
    transform: scale(0.96);
    box-shadow: none;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #cbcfd8;
    font-family: 'AvenirNext';
  }

  .input.is-large:focus {
    box-shadow: 0 1.2rem 4rem -0.8rem rgba(132, 128, 173, 0.6);
    border: 1px solid #a37fff;
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
  }

  .landing-sample-communities {
    margin-top: 5rem;
    padding-top: 3rem;
    border-top: 1px solid #e9e9f1;
  }

  .landing-sample-community {
    cursor: pointer;
    width: 100%;
  }

  .landing-sample-community h4 {
    margin-left: 0px;
    color: #848da5;
    font-size: 20px;
    transition: all 0.2s ease-out;
  }

  .landing-sample-community p {
    margin-left: 0px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #848da5;
  }

  .landing-sample-community:hover h4 {
    color: #241f48;
    transition: all 0.2s ease-in;
  }

  .landing-mobile-only {
    display: none;
  }

  @media (max-width: 770px) {
    #landing-hero-background-main,
    #landing-hero-background {
      display: none;
    }

    .landing-hero-communities {
      height: auto;
    }

    .landing-mobile-only {
      display: block;
    }

    .landing-video {
      width: 100%;
      height: 320px;
      margin-top: 4rem;
    }

    .landing-button-mobile {
      width: 60%;
      margin: 0 auto;
    }

    .landing-button-mobile:last-child {
      margin-top: 1rem;
    }

    .control {
      min-width: 100%;
    }

    .landing-mobile-no {
      display: none;
    }

    .landing-paste {
      text-align: center;
      margin: 0 auto;
      max-width: 240px;
    }

    #landing-mobile {
      text-align: center !important;
    }
    .subtitle-communities {
      text-align: center;
    }
    .landing-header-link-button {
      border-left: none;
    }
    .landing-sample-communities {
      text-align: center;
    }

    .landing-sample-communities .column {
      width: 33%;
    }
    .landing-header-link {
      display: inline-block;
      width: 50%;
      text-align: center;
    }

    .landing-hero {
      padding-top: 210px;
      margin-top: -140px;
    }

    .landing-header-link-button {
      padding: 0;
      background-color: transparent;
      border-radius: 0px;
    }

    .landing-logo-typo {
      margin-left: 4px;
    }

    #landing-header-arrow {
      margin-top: 3px;
    }

    .title {
      font-size: 80px;
      margin-bottom: 2rem;
    }

    .subtitle {
      font-size: 24px;
    }

    h2 {
      font-size: 42px;
      text-align: center;
    }

    h3 {
      font-size: 36px;
      margin-top: 30px;
    }

    .landing-paragraph {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .landing-testimonial {
      margin-top: 30px;
      margin-bottom: 60px;
    }

    .landing-owners-tokens {
      display: none;
    }

    .landing-link-inside {
      font-size: 16px;
    }

    #landing-stairs {
      transform: scale(2);
      transform-origin: top;
    }

    .landing-footer-navigation a {
      font-size: 18px;
      margin-left: 20px;
    }

    #usershere {
      background-position: 9% 0%;
    }

    #startearning {
      background-position: 7% 0%;
    }

    #landing-yourtoken {
      margin-left: 26px;
      margin-top: 80px;
    }

    #hopinside {
      background-position: 50%;
    }

    #hopinside .control {
      min-width: 90%;
    }

    .landing-hero-owner {
      margin-bottom: 0;
    }
  }
}
