body {
  color: #1b2437;
  font-family: 'Rubik', sans-serif;
}

b {
  font-weight: 500;
}

a {
  color: #623cea;
  cursor: default;
}

a:hover[href] {
  color: #2f2670;
  cursor: pointer;
}

.hidden {
  display: none;
}