.cp-label.cp-like:not(.cp-label--done):hover .cp-label-container {
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(255, 166, 216, 0.4);
}

.cp-label.cp-like .cp-label-text:before {
  content: 'Like';
}

.cp-label.cp-like.cp-label--done .cp-label-text:before {
  content: 'Liked';
  color: #ffa6d8;
}

.cp-label.cp-like.cp-label--done .cp-label-icon_container {
  box-shadow: 0 5px 20px 2px rgba(255, 166, 216, 0.4);
}

.cp-label.cp-reply .cp-label-text:before {
  content: 'Replies';
}

.cp-reply--highlighted:before {
  content: '';
  position: absolute;
  left: -25px;
  width: 10px;
  height: 100%;
  background-color: #623cea;
  border-radius: 10px
}

.cp-dropdown-item:hover {
  background-color: #F4F1FF !important;
  color: #623cea;
}

.cp-inline-button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #623cea;
}

.cp-inline-button:hover {
  color: #2f2670;
}

::selection {
  color: white;
  background: #ffa08d;
}

body {
  color: #1b2437;
  font-family: 'Rubik', sans-serif;
}

a {
  color: #623cea;
  cursor: default;
}

b {
  font-weight: 500;
}

a:hover[href] {
  color: #2f2670;
  cursor: pointer;
}

.hidden {
  display: none;
}