.cp-textarea::placeholder {
  transition: color 0.15s ease-in-out;
  color: #1b2437;
}

.cp-textarea:-ms-input-placeholder {
  color: #1b2437;
}

.cp-textarea::-ms-input-placeholder {
  color: #1b2437;
}

.cp-textarea.cp-textarea--reply::placeholder {
  font-weight: 500;
  color: #623CEA;
}

.cp-textarea.cp-textarea--reply:-ms-input-placeholder {
  font-weight: 500;
  color: #623CEA;
}

.cp-textarea.cp-textarea--reply::-ms-input-placeholder {
  font-weight: 500;
  color: #623CEA;
}

.cp-textarea:hover::placeholder,
.cp-textarea:focus::placeholder {
  color: #928f9b;
}

.cp-textarea:hover:-ms-input-placeholder,
.cp-textarea:focus:-ms-input-placeholder {
  color: #928f9b;
}

.cp-textarea:hover::-ms-input-placeholder,
.cp-textarea:focus::-ms-input-placeholder {
  color: #928f9b;
}

@keyframes blink {
  0% {
    background-color: #623cea;
  }
  
  100% {
    background-color: transparent;
  }
}

.cp-box--added {
  animation: blink 1s ease-out 1;
}

.cp-metamask-submit {
  opacity: 0.7;
  background: transparent;
}

.cp-metamask-submit--active {
  opacity: 1;
  box-shadow: 0 3px 10px rgba(98, 60, 234, 0.2);
  cursor: pointer;
}

.cp-metamask-submit--active:hover,
.cp-metamask-submit--active:focus {
  box-shadow: 0 3px 6px rgba(98, 60, 234, 0.4);
}

.cp-label.cp-like:not(.cp-label--done):hover .cp-label-container {
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(255, 166, 216, 0.4);
}

.cp-label.cp-like .cp-label-text:before {
  content: 'Like';
}

.cp-label.cp-like.cp-label--done .cp-label-text:before {
  content: 'Liked';
  color: #ffa6d8;
}

.cp-label.cp-like.cp-label--done .cp-label-icon_container {
  box-shadow: 0 5px 20px 2px rgba(255, 166, 216, 0.4);
}

.cp-label.cp-reply .cp-label-text:before {
  content: 'Replies';
}

.cp-reply--highlighted:before {
  content: '';
  position: absolute;
  left: -25px;
  width: 10px;
  height: 100%;
  background-color: #623cea;
  border-radius: 10px
}

.cp-dropdown-item:hover {
  background-color: #F4F1FF !important;
  color: #623cea;
}

.cp-inline-button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #623cea;
}

.cp-inline-button:hover {
  color: #2f2670;
}

.cp-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 450px;
}

::selection {
  color: white;
  background: #ffa08d;
}

body {
  color: #1b2437;
  font-family: 'Rubik', sans-serif;
}

a {
  color: #623cea;
  cursor: default;
}

b {
  font-weight: 500;
}

a:hover[href] {
  color: #2f2670;
  cursor: pointer;
}

.hidden {
  display: none;
}